@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "media";
@import "global";

.header {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #fff;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    z-index: 99;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 165px;
        width: 100%;
    }
    &__select {
        text-transform: uppercase;
        color: $title;
    }
    &__btn {
        padding: 9px 37px;
        background-color: #2d50fc;
        border-radius: 6px;
        color: #fff;
        cursor: pointer;
    }

    &__menu-btn {
        display: none;
        z-index: 50;
        // position: absolute;
        // right: 30px;
        // top: 50px;
        // transform: translateY(-50%);
        // width: 30px;
        // height: 40px;
        padding: 5px;
        cursor: pointer;
    }

    &__menu-btn span {
        display: block;
        height: 3px;
        width: 24px;
        background-color: #3f414a;
        border-radius: 2px;
        margin-bottom: 5px;
        transition: all 0.5s;
    }
}

.menu {
    width: 736px;
    margin: 0 20px;
    &__mob {
        display: none;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    // &__item {
    //     margin-right: 10px;
    //     &:last-child {
    //         margin-right: 0;
    //     }
    // }
}

// -----------Content Part-----------------------------------

.first {
    padding: 94px 0;
    min-height: 614px;
    position: relative;
    background: linear-gradient(134.6deg, #0b72ff 8.43%, #3605c0 80.91%);
    &::before {
        // content: "";
        // position: absolute;
        // width: 90%;
        // height: 100%;
        // top: 100px;
        // left: 0;
        // background-size: contain;
        // background-position: left bottom;
        // z-index: -1;
        // background-image: url("../images/vector-bg.svg");
        // background-repeat: no-repeat;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left {
        max-width: 673px;
    }
    &__title {
        font-size: 46px;
        line-height: 120%;
        color: $yellow;
        @extend %gil-600;
    }
    &__title-bottom {
        font-size: 46px;
        line-height: 120%;
        color: #fff;
        @extend %gil-600;
    }
    &__left-wrap {
        display: flex;
        justify-content: space-between;
        max-width: 413px;
        width: 100%;
    }
    &__wrap-text {
        margin-top: 16px;
        padding-left: 30px;
        font-size: 16px;
        line-height: 146.5%;
        @extend %gil-600;
        color: #ffffff;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 26px;
            height: 26px;
            background-image: url("../images/icons/finger-up.png");
            top: 0;
            left: 0;
        }
    }
    &__left-text {
        margin: 28px 0 32px;
        color: #fff;
        font-size: 18px;
        line-height: 149%;
    }
    &__left-try {
        display: inline-block;
        padding: 18px 26px;
        margin-right: 20px;
    }
    &__left-consult {
        padding: 17px 26px;
        cursor: pointer;
        transition: all 0.4s;
        &:hover {
            color: $bg;
            background-color: #fff;
        }
    }

    &__right {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../images/bg-first.png");
        background-repeat: no-repeat;
        width: 710px;
        min-height: 426px;
        position: relative;
        left: 100px;
        z-index: 2;
    }
    &__right-btn {
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        max-width: 94px;
        color: #ffffff;
        transform: rotate(-0.1deg);
        position: relative;
        &::before {
            content: "";
            position: absolute;
            background-image: url("../images/play-btn.svg");
            width: 130px;
            height: 130px;
            left: -100px;
            top: -47px;
            z-index: -1;
        }
    }
}

.win {
    padding-top: 120px;
    padding-bottom: 113px;

    &__slider-inner {
        position: relative;
    }
    &__prev,
    &__next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 20;
    }
    &__prev {
        left: 0;
    }

    &__next {
        right: 0px;
    }
    &__slider {
        padding: 0 10px;
        max-width: 1041px;
        display: flex;
        justify-content: center;
    }
    &__wrapper {
        padding: 20px 50px;
        position: relative;
    }
    &__title {
        margin-bottom: 52px;
    }
    &__slider-item {
        max-width: 505px;
        min-height: 415px;
        padding: 51px 53px 46px;
        background: #ffffff;
        box-shadow: 0px 5px 20px rgba(12, 62, 62, 0.1);
        border-radius: 8px;
        box-sizing: border-box;
        // position: relative;
    }
    &__slider-name {
        margin-top: 24px;
        font-size: 18px;
        line-height: 149%;
        color: #444141;
        @extend %gil-700;
    }
    &__slider-box {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        line-height: 149%;
        color: #878787;
    }
    &__slider-production {
        position: relative;
        margin-right: 10px;
        &::before {
            content: "/";
            position: absolute;
            font-size: 14px;
            line-height: 149%;
            left: -20px;
            top: 0;
            color: #878787;
        }
    }
    &__slider-descr {
        margin: 16px 0 20px;
        font-size: 16px;
        line-height: 149%;
        color: #444141;
    }
    &__slider-link {
        font-size: 16px;
        line-height: 149%;
        text-align: center;
        color: #075fc5;
        @extend %gil-600;
        transition: all 0.3s;
        &:hover {
            color: #f7b208;
        }
    }
}

.need {
    padding-bottom: 104px;
    &__title {
        margin-bottom: 59px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
    &__btns {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 520px;
    }
    &__btn-wrap {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 161px;
        margin-top: 32px;
        &:nth-child(1) {
            margin-top: 0;
        }
        &:nth-child(2) {
            margin-top: 0;
        }
        &:nth-child(3) {
            margin-top: 0;
        }
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff;
        border: 4px solid #e5f0fd;
        border-radius: 50%;
        width: 106px;
        height: 106px;
        transition: all 0.5s;
        &:hover {
            background: #e5f0fd;
        }
    }
    &__btn-active {
        background: #075fc5;
        border: 4px solid #075fc5;
        &:hover {
            background: #075fc5;
        }
    }
    &__btn-img {
        width: 51px;
        height: 51px;
    }
    &__btn-text {
        margin-top: 12px;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: #000000;
        @extend %gil-600;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        width: 100%;
        max-width: 171px;
    }
    &__item {
        display: none;
        padding: 78px 68px;
        background-color: #ffffff;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        max-width: 505px;
        min-height: 331px;
        position: relative;
    }
    &__item--active {
        display: block;
    }
    &__item-img-mob {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff;
        border: 4px solid #c2dafe;
        border-radius: 50%;
        width: 75px;
        height: 75px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -34px;
    }
    &__item-img {
        width: 40px;
        height: 40px;
    }
    &__item-title {
        margin-bottom: 12px;
        font-size: 18px;
        line-height: 149%;
        color: #444141;
        @extend %gil-700;
        & span {
            color: #075fc5;
        }
    }
    &__text {
        display: none;
    }
    &__text--active {
        display: inline;
        font-size: 16px;
        line-height: 146.5%;
        max-width: 368px;
        color: #878787;
    }

    .toggle-switch {
        --content-width: 8rem;
        --content-height: calc(var(--content-width) / 2.5);
        --border-width: calc(var(--content-width) / 25);
        position: relative;
        width: 0;
        height: 0;
        user-select: none;
        cursor: pointer;
    }

    .toggle-switch::before {
        position: absolute;
        content: "";
        border-radius: 123px;
        border: 1px solid #ef474746;
        top: -4px;
        left: -20px;
        width: 43px;
        height: 23px;
    }

    .toggle-switch::after {
        position: absolute;
        content: "";
        top: -1px;
        left: -17px;
        width: 17px;
        height: 17px;
        background-color: #ef4747;
        border-radius: calc(var(--content-height) / 2);
        transition: 0.3s;
    }

    .toggle-switch.active::before {
        border: 1px solid #2eba564b;
        background: #fff;
    }

    .toggle-switch.active::after {
        background-color: #2eba56;
        transform: translateX(20px);
        transition: 0.4s;
    }
}

.profit {
    padding-bottom: 120px;

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 870px;
        max-width: 978px;
        margin: 52px auto 0;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #ffffff;
        box-shadow: 0px 4px 20px rgba(12, 62, 62, 0.1);
        border-radius: 10px;
        max-width: 400px;
        min-height: 224px;
        width: 100%;
        position: relative;
        &:nth-child(2),
        &:nth-child(4) {
            margin-left: auto;
        }
        &:nth-child(1),
        &:nth-child(3),
        &:nth-child(5) {
            margin-right: auto;
        }
        &:nth-child(5) {
            top: -124px;
        }
        &:nth-child(1) {
            top: 124px;
        }
        &:nth-child(2) {
            top: 65px;
        }
        &:nth-child(4) {
            top: -65px;
        }
    }
    &__item-1,
    &__item-2,
    &__item-3,
    &__item-4,
    &__item-5 {
        &::after {
            content: "";
            position: absolute;
            width: 36px;
            height: 36px;
            background: #075fc5;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            line-height: 146.5%;
            color: #ffffff;
        }
    }
    &__item-1 {
        &::after {
            content: "01";
            right: -17px;
        }
    }
    &__item-2 {
        &::after {
            content: "02";
            left: -17px;
        }
    }
    &__item-3 {
        &::after {
            content: "03";
            right: -17px;
        }
    }
    &__item-4 {
        &::after {
            content: "04";
            left: -17px;
        }
    }
    &__item-5 {
        &::after {
            content: "05";
            right: -17px;
        }
    }

    &__img {
        width: 48px;
        height: 48px;
    }
    &__item-text {
        margin-top: 10px;
        max-width: 288px;
        text-align: center;
        font-size: 18px;
        line-height: 149%;
        color: #444141;
        & span {
            @extend %gil-700;
        }
    }
}

// -----------Content Part-------------End----------------------

.footer {
    min-height: 381px;
    padding-top: 45px;
    &__top {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        min-height: 282px;
        border-bottom: 2px solid #d5d5d5;
    }

    &__soc-box {
        margin-top: 22px;
        display: flex;
        justify-content: space-between;
        max-width: 100px;
        width: 100%;
    }
    &__soc-copy {
        margin-top: 24px;
        font-size: 12px;
        line-height: 149%;
        text-align: center;
        color: #878787;
        @extend %gil-400;
    }
    &__soc-insta {
        width: 40px;
        height: 40px;
    }

    &__tools-title {
        font-size: 14px;
        line-height: 146.5%;
        display: flex;
        align-items: center;
        text-align: center;
        color: #444141;
        @extend %gil-600;
    }
    &__tools-box {
        display: flex;
        flex-direction: column;
    }
    &__tools-link {
        margin-top: 14px;
        padding-left: 15px;
        font-size: 14px;
        line-height: 146.5%;
        color: #878787;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 5px;
            height: 5px;
            background-color: #075fc5;
            border-radius: 50%;
            top: 8px;
            left: 0;
        }
    }

    &__intro {
        font-size: 14px;
        line-height: 146.5%;
        color: #444141;
        @extend %gil-600;
    }
    &__intro-box {
        display: flex;
        flex-direction: column;
    }
    &__intro-link {
        margin-top: 26px;
    }

    &__location-addr {
        font-size: 16px;
        line-height: 146.5%;
        display: flex;
        align-items: center;
        color: #444141;
        @extend %gil-600;
    }
    &__location-time {
        margin-top: 10px;
        font-size: 16px;
        line-height: 146.5%;
        display: flex;
        align-items: center;
        color: #444141;
        @extend %gil-600;
    }
    &__location-email,
    &__location-phone {
        margin-top: 10px;
        display: block;
        font-size: 18px;
        line-height: 146.5%;
        @extend %gil-700;
    }
    &__location-box {
        display: flex;
        justify-content: space-between;
        max-width: 140px;
        width: 100%;
        margin-top: 20px;
    }

    &__bottom {
        min-height: 68px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    &__bottom-link {
        margin-right: 32px;
        font-size: 14px;
        line-height: 149%;
        text-align: center;
        border-bottom: 1px solid #0d6efd;
        color: #0d6efd;
        &:last-child {
            margin-right: 0;
        }
    }
}
@import "media";
